<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dao.TrustManagementMapper">

	
	<resultMap id="TrustInfoMap"
		type="com.boot.entity.TrustInfo">
		<!-- <id property="TrustId" column="TrustId" javaType="int"></id> -->
		<result property="Category" column="Category" javaType="java.lang.String"></result>
		<result property="SPId" column="SPId" javaType="java.lang.String"></result>
		<result property="SPCode" column="SPCode" javaType="java.lang.String"></result>
		<result property="SPRItemCode" column="SPRItemCode" javaType="java.lang.String"></result>
		<result property="TBId" column="tbId" javaType="java.lang.String"></result>
		<result property="ItemId" column="ItemId" javaType="java.lang.String"></result>
		<result property="ItemCode" column="itemcode" javaType="java.lang.String"></result>
		<result property="ItemValue" column="itemvalue" javaType="java.lang.String"></result>
		<result property="ItemAliasValue" column="ItemAliasValue" javaType="java.lang.String"></result>
		<result property="IsCalculated" column="IsCalculated"  javaType="boolean"></result>
		<result property="IsCompulsory" column="IsCompulsory"  javaType="boolean"></result>
		<result property="DataType" column="DataType" javaType="java.lang.String"></result>
		<result property="SequenceNo" column="SequenceNo" javaType="java.lang.String"></result>
		<result property="Precise" column="Precise" javaType="java.lang.String"></result>
		<result property="UnitOfMeasure" column="UnitOfMeasure" javaType="java.lang.String"></result>
		<result property="IsPrimary" column="IsPrimary" javaType="boolean"></result>
		
	</resultMap>
	
<!-- 	<select id="GetTrustInfoFromWizard" parameterType="String"  resultType="com.boot.entity.TrustInfo"> -->
	<select id="GetTrustInfoFromWizard" parameterType="String"  resultMap="TrustInfoMap">
		exec [TrustManagement].[usp_GetTrustInfoFromWizard] #{TrustId}
	</select>
	
	<select id="GetTrustInfoFromWizardMap" parameterType="String"   resultType="java.util.HashMap">
		exec [TrustManagement].[usp_GetTrustInfoFromWizard] #{TrustId}
	</select>
	
	<select id="getABSversion"  resultType="java.util.HashMap">
		exec dbo.getABSversion
	</select>
	
	
	<select id="GetAllCodeDictionaryMap"  parameterType="String"   resultType="java.util.HashMap">
		exec [TrustManagement].[usp_GetAllCodeDictionary] #{AliasSetName}
	</select> 
	
	
	<select id="GetAllCodeDictionary"  parameterType="String"   resultType="com.boot.entity.Dictionary">
		exec [TrustManagement].[usp_GetAllCodeDictionary] #{AliasSetName}
	</select>
	
	
	<resultMap id="TrustMap"
		type="com.boot.entity.Trust">
		<!-- <id property="TrustId" column="TrustId" javaType="int"></id> -->
		<result property="TrustCode" column="TrustCode" javaType="java.lang.String"></result>
		<result property="TrustName" column="TrustName" javaType="java.lang.String"></result>
	</resultMap>
	
	<select id="GetTrust" resultMap="TrustMap" >
		select * from Working.Trust
	</select>
	
	
</mapper>