/*表单日期控件开始*/
.date_selector, .date_selector * {
	width: auto;
	height: auto;
	border: none;
	background: 0 0;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
}
.date_selector {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0;
	margin-top: -1px;
	position: absolute;
	z-index: 100000;
	display: none;
	border-radius: 3px;
	box-shadow: 0 2px 10px #ededed;
	width: 242px;
}
.date_selector_ieframe {
	position: absolute;
	z-index: 99999;
	display: none;
}
.date_selector .nav {
	width: 100%;
}
.date_selector .nav p {
	clear: none;
}
.date_selector .month_nav, .date_selector .year_nav {
	margin: 0 0 3px 0;
	padding: 0;
	display: block;
	position: relative;
	text-align: center;
}
.date_selector .month_nav {
	float: left;
	width: 55%;
}
.date_selector .year_nav {
	float: right;
	width: 42%;
	margin-right: -8px;
}
.date_selector .month_name, .date_selector .year_name {
	font-weight: 700;
	line-height: 20px;
}
.date_selector .button {
	display: block;
	position: absolute;
	top: 3px;
	width: 16px;
	height: 16px;
	line-height: 22px;
	color: #777;
	text-align: center;
	overflow: hidden;
}
.date_selector .button .icon {
	font-size: 14px;
}
.date_selector .button.hover, .date_selector .button:hover {
	cursor: pointer;
	color: #222;
}
.date_selector .prev {
	left: 0;
}
.date_selector .next {
	right: 0;
}
.date_selector table {
	border-spacing: 0;
	border-collapse: collapse;
	clear: both;
	margin: 0;
	width: 220px;
}
.date_selector td, .date_selector th {
	width: 2.5em;
	height: 2em;
	padding: 0 !important;
	text-align: center !important;
	color: #666;
	font-weight: 400;
}
.date_selector th {
	font-size: 12px;
}
.date_selector td {
	border: 1px solid #f1f1f1;
	line-height: 2em;
	text-align: center;
	white-space: nowrap;
	color: #5985c7;
	background: #fff;
}
.date_selector td.today {
	background: #e3ecfb;
}
.date_selector td.unselected_month {
	color: #ccc;
}
.date_selector td.selectable_day {
	cursor: pointer;
}
.date_selector td.selected {
	background: #5A77A9;
	color: #fff;
	font-weight: 700;
}
.date_selector td.selectable_day.hover, .date_selector td.selectable_day:hover {
	background: #5985c7;
	color: #fff;
}
/*表单日期控件结束*/

/*文字图标开始*/
@font-face { 
    font-family: "icon"; 
    src: url('../../www/productManage/TrustManagement/Common/font/iconfont.eot'); /* IE9*/ 
    src: url('../../www/productManage/TrustManagement/Common/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../www/productManage/TrustManagement/Common/font/iconfont.woff') format('woff'), /* chrome, firefox */ 
         url('../../www/productManage/TrustManagement/Common/font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ 
         url('../../www/productManage/TrustManagement/Common/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */ 
}
.icon {
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon-help-circled-alt:before {
	content: '\e800';
}
.icon-print:before {
	content: '\e801';
}
.icon-back:before {
	content: '\e802';
}
.icon-bottom:before {
	content: '\e803';
}
.icon-top:before {
	content: '\e804';
}
.icon-right:before {
	content: '\e805';
}
.icon-tongji:before {
	content: '\e806';
}
.icon-list:before {
	content: '\e807';
}
.icon-close:before {
	content: '\e808';
}
.icon-check:before {
	content: '\e809';
}
.icon-warning:before {
	content: '\e80a';
}
.icon-asset:before {
	content: '\e80b';
}
.icon-roundcheck:before {
	content: '\e80c';
}
.icon-rankfill:before {
	content: '\e80d';
}
.icon-add:before {
	content: '\e80e';
}
.icon-edit:before {
	content: '\e80f';
}
.icon-wenjian:before {
	content: '\e810';
}
.icon-plus:before {
	content: '\e811';
}
.icon-remove:before {
	content: '\e812';
}
.icon-setting:before {
	content: '\e813';
}
.icon-folder:before {
	content: '\e814';
}
.icon-upload:before {
	content: '\e815';
}
.icon-trash:before {
	content: '\e816';
}
.icon-chexiao:before {
	content: '\e817';
}
.icon-xuqi:before {
	content: '\e818';
}
.icon-help:before {
	content: '\e819';
}
/*文字图标结束*/