/*按钮基础样式 所有按钮必须引入此样式*/
.abs_btn {
    display: inline-block;
    height: 30px;
    font-weight: 400;
    line-height: 30px;
    box-sizing: border-box;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .2s linear,background-color .2s linear,border .2s linear;
    position: relative;
    padding: 0 10px;
    border-radius: 3px;
    zoom: 1;
    outline: none;
    text-decoration: none;
}
/*普通按钮*/
.default_button {
    border: 1px solid #091055;
    color: #091055;
    background-color: #ffffff;
}
.default_button:hover {
    color: #eeeeee;  
    border: 1px solid #3258b6;
    background: #3258b6;
}
.default_button:active {
    color: #3258b6;
    border: 1px solid #3258b6;
    background: #ffffff;
}
.default_button[disabled] {
    color: #3c75ff;
    border: 1px solid #3c75ff;
    background: #ffffff;
}
/*背景色按钮 用于一些权重高的带有警惕操作的*/
.primary_button {
    color: #ffffff;
    border: 1px solid #091055;
    background: #091055;
}
.primary_button:hover {
    color: #ffffff;
    border: 1px solid #3258b6;
    background: #3258b6;
}
.primary_button:active {
    color: #ffffff;
    border: 1px solid #3258b6;
    background: #3258b6;
}
.primary_button[disabled] {
    color: #ffffff;
    border: 1px solid #3258b6;
    background: #3258b6;
}
/*幽灵按钮 用于界面背景色为深色的按钮*/
.ghost_button {
    color: #091055;
    border: 1px solid #091055;
    background: rgba(255,255,255,.5);
}
.ghost_button:hover {
    color: #091055;
    border: 1px solid #091055;
    background: rgba(255,255,255,.8);
}
.ghost_button:active {
    color: #091055;
    border: 1px solid #091055;
    background: rgba(255,255,255,.4);
}
.ghost_button[disabled] {
    color: #091055;
    border: 1px solid #091055;
    background: rgba(255,255,255,.2);
}
/*文本按钮 用于a链接 文本点击操作的按钮等*/
.text_button {
    color: #091055;
}
.text_button:hover {
    color: #0f21a8;
}
.text_button:active {
    color: #0f21a8;
}
.text_button[disabled] {
    color: #0f21a8;
}


.form-panel.drop .col-xs-3,
.form-panel.drop .col-xs-9,
.form-panel.drop .col-md-3,
.form-panel.drop .col-md-9 {
    padding: 0px;
}


