 #menu{
           width: 161px;
 height:360px;
  position:fixed;

  top: 50%;right:-44px;
  margin-top: -120px;
  display: block;
 }
 #menu .line {
 min-height: 450px;
 width: 1px;
  background-color: #b19999;
  position: absolute;
  left: 0px;
  top: -78px;
 }
 #menu ul li{
  min-width:32px;height:32px;
  list-style-type:none;
  color:#8F8583;
  text-align:center;
  line-height: 32px;
  position:relative;
 }
 #menu ul li span{
    display: inline-block;
	margin-bottom: 20px;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 22px 0px #d8d0d0;
	border-radius: 8px;
    margin-left: -10px;
	background-color: #fff;
	cursor: pointer;
    position: absolute;
    left: 2px;
    top: 6px;
 }
 #menu ul li div{
     display: inline-block;
     min-width: 130px;
     text-align: left;
     font-size: 12px;
     color: #333;
   
 }
  #menu ul li span.active{background-color: #bfb1b1;}
 #content{
  width:1220px;
  margin:0 auto;
 } 
 #footer{width:1220px;height:600px;background:#FE7678;}
 .container{margin:0 auto;}
 #content div {
 	height: 600px;
 	background-color: pink;
 	margin-bottom: 30px;
 }
 .firslLine {
 	height: 580px;
 	background-color: red;
 }
 