        @charset "utf-8";
/*选中文本修饰*/
::selection{background:#333;color:white;}
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{color:#000;-webkit-text-size-adjust:none;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{margin:0;padding:0;}
h3.h3 {
    margin: 0;
}
audio,canvas,video {display:inline-block;*display:inline;*zoom: 1;}
body,button,input,select,textarea{font:14px; 'Microsoft Yahei',tahoma,arial,\5b8b\4f53;outline:0;resize:none;height:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}/* IE bug fixed: th 不继承 text-align*/
caption,th {text-align:left;}/* 对齐是排版最重要的因素, 别让什么都居中 */
fieldset,img{border:0;}
iframe{display:block;}/* ie6 7 8(q) bug 显示为行内表现 */
del{text-decoration:line-through;}/* 一致的 del 样式 */
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}/* 去掉列表前的标识, li 会继承 */
/*a{text-decoration:none;color:#353535;}*/
a{word-break: break-all; word-wrap:break-word; white-space:normal;text-decoration:none;color:#555;}
.center>a:first-child:hover{
    color:rgba(20,114,226,1);
}
.center>a:last-child:hover{
    color:rgba(215,69,69,1);
}
.file{width:340px; height:20px; line-height:18px; padding:0px; border:1px solid #dedede; 
      display:inline-block; margin:0px 10px; vertical-align:bottom;}

.table{width: 100%;}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>th {
	height: 30px;
    line-height: 30px;
    padding: 0;
    box-sizing: border-box;
    color:#4d4d4d;
	border: 1px solid #dedede;
    color: #4d4d4d;
    font-size: 14px;
}
.input-group-addon {
    border: 1px solid #dedede;
    background: #f3f5fa;
}
.file_name {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 70px);
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #dedede;
    font-size: 12px;
}

.label_title {
    background: #f3f5fa;
    border: 1px solid #dedede;
    text-align: center;
    box-sizing: border-box;
    line-height: 30px;
    color: #808080;
    padding: 0 3px;
    height: 30px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    width: 30%;
}
.input-group input, .input-group select {
    border: 1px solid #dedede;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #dedede;
}
.table td.center {text-align:center;}
.table td.right {text-align:right;}
.table > thead > tr > th {
    text-align: center;
    background: #f3f5fa;
    vertical-align: middle;
    color: #4d4d4d;
    font-size: 14px;
}
textarea.form-control {
    height:60px;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
}
.form-control[disabled]{
	cursor: not-allowed;
    background: #eee;
	opacity: 1;
}
body {
    padding: 15px;
}
.main .h3{
    font-size: 16px;
    font-weight:normal;
    height: 40px;
    line-height: 40px;
    margin: -15px -15px 15px;
    padding: 0 15px;
    border-bottom: 1px solid #dedede;
}
.pagedesc{color: #1e5494; font-size: 13px; padding:10px;}
.pull-right{float: right;}
.main .content{margin-top:10px;}
.taskdesc{width:100%; height:20px; padding:3px 0px; overflow:hidden; text-overflow:ellipsis; line-height:20px; cursor:pointer;}
.autoHeight{height:auto !important;}
.successStatus{color:green;}

.run-loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    font-size: 10px;
    background: rgba(255,255,255,.7);
}

.run-loading .loading {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -12px;
}
.run-loading .loading i {
    color: rgb(107, 147, 216);
    font-size: 50px;
}
.redborder{border:1px solid red !important;}
.redfont {
    color: red !important;
}

.hiddenTR {
    display: none !important;
}

.date_selector,.date_selector *{width:auto;height:auto;border:none;background:0 0;margin:0;padding:0;text-align:left;text-decoration:none}
.date_selector{background:#fff;border:1px solid #ccc;padding:10px;margin:0;margin-top:-1px;position:absolute;z-index:100000;display:none;border-radius:3px;box-shadow:0 2px 10px #ededed;width:220px;margin-left:103px;}
.date_selector_ieframe{position:absolute;z-index:99999;display:none}
.date_selector .nav{width:17.5em}
.date_selector .nav p{clear:none}
.date_selector .month_nav,.date_selector .year_nav{margin:0 0 3px 0;padding:0;display:block;position:relative;text-align:center}
.date_selector .month_nav{float:left;width:55%}
.date_selector .year_nav{float:right;width:42%;margin-right:-8px}
.date_selector .month_name,.date_selector .year_name{font-weight:700;line-height:20px}
.date_selector .button{display:block;position:absolute;top:3px;width:16px;height:16px;line-height:16px;color:#777;text-align:center;overflow:hidden;}
.date_selector .button .icon{font-size: 14px;}
.date_selector .button.hover,.date_selector .button:hover{cursor:pointer;color: #222}
.date_selector .prev{left:0}
.date_selector .next{right:0}
.date_selector table{border-spacing:0;border-collapse:collapse;clear:both;margin:0;width:220px}
.date_selector td,.date_selector th{width:2.5em;height:2em;padding:0!important;text-align:center!important;color:#666;font-weight:400}
.date_selector th{font-size:12px}
.date_selector td{border:1px solid #f1f1f1;line-height:2em;text-align:center;white-space:nowrap;color:#5985c7;background:#fff}
.date_selector td.today{background:#e3ecfb}
.date_selector td.unselected_month{color:#ccc}
.date_selector td.selectable_day{cursor:pointer}
.date_selector td.selected{background:#5A77A9;color:#fff;font-weight:700}
.date_selector td.selectable_day.hover,.date_selector td.selectable_day:hover{background:#5985c7;color:#fff}
#dtNextPeriod{
    border: 1px solid rgba(0,0,0,0.4);
    color: rgba(0,0,0,0.6);
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    background: #ffffff;
}
.kllayer{
    width: 280px;
    display: inline-block;
    position: relative;
    top: 7px;
    margin: 0px 10px;
}
#page_navigation{
        text-align:right;
        margin-top:6px;
    }
#page_navigation a{
	padding:3px 12px;
	border:1px solid #dedede;
	margin:2px;
	color:#4d4d4d;
	text-decoration:none;
    cursor:pointer;
    display:inline-block;
}
.active_page {
    background: #45569c;
    color: white !important;
}
label {
    background: #f3f5fa;
    font-weight: 400;
    color: #808080;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dedede;
}
select,input {
    height: 30px;
    line-height: 30px;
    border: 1px solid #dedede;
}
.layer .col-sm-12 {
    margin-bottom: 20px;
}
.btn_style {
    text-align: center;
    margin-bottom: 10px;
}