.aside .step-box .step-head {
    padding:0;
    margin:0
}
.aside .step-box .step {
    display:inline-block;
    margin:2px auto;
    padding:1px 10px;
    margin-top:3px;
}
.aside .step-box {
    background-color:#fff;
    height:40px;
}

.aside .step-box .step > a {
    float:left;
    border-radius:2px;
    font-weight:normal;
    border-bottom:none
}
.step-box{
border-bottom: 1px solid #dadada;
}
.aside .step-box .step a.active {
    background-color:rgba(59,62,93,0.8);
    color:#fff;
    height:30px;
 }
.aside .step-box .step a.active .step-title{
    color:#fff;
}
.page{
    padding-left:0;
    /*padding-top:107px;*/
    /*padding-top:20px;*/
    border-radius:2px;
}
.aside .step-box .step a{
    padding-left:15px;
    padding-right:15px;
    margin:0 3px;
    display:inline-block;
    height:30px;
    /*border:1px solid #5a77a9;
    box-shadow: 0 1px 1px #5a77a9 inset,0 -1px 0 #5a77a9 inset,0 -1px 2px #5a77a9 inset;*/
    /*background: -webkit-linear-gradient(top,#5a77a9,#5a77a9);
    background: -moz-linear-gradient(top,#5a77a9,#5a77a9);
    background: linear-gradient(top,#5a77a9,#5a77a9);
    color:#fff;*/
}
/*.active {
    background:#d4dff3;
    border:none;
    box-shadow:0;
}*/
.aside .step-box .step a .step-title{
    font-size:14px;
    color:#555;
    margin-top:4px;
}
.page .aside {
    top:70px;
}
.aside .step-box .step a:hover{
    height:30px;
}
